html,
body {
  font-size: 10pt;
  font-family: 'Poppins';
  margin: 0px;
  transition: 1s;
  scroll-behavior: smooth;
  zoom: 100%;
  scrollbar-width: thin;
  scrollbar-color: white black;
}

body.dark-mode {
  background-color: #100C08;
  transition: 1s;
  color: antiquewhite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page {
  animation: fadeIn 0.5s ease-in-out;
}

#loading {
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  transform: translateX(-50%, -50%);
  z-index: 1;
}

.load {
  height: 5px;
  width: 5px;
  background-color: white;
  animation: 1.2s UpDown infinite;
  border-radius: 10px;
  margin: 0 7px;
  left: 35%
}

#loading .load:first-child {
  animation-delay: .15s;
}

#loading .load:nth-child(2) {
  animation-delay: .30s;
}

#loading .load:nth-child(3) {
  animation-delay: .45s;
}

#loading .load:last-child {
  animation-delay: .15s;
}

@keyframes UpDown {
  0% {
    height: 15px;
    background-color: red;
  }

  50% {
    height: 45px;
    background-color: #d33deb;
  }

  100% {
    height: 15px;
    background-color: #f00e43;
  }
}

#ack {
  display: block;
  color: white;
  z-index: 1;
  position: fixed;
  opacity: 0.3;
  text-align: center;
  margin-top: 10%;
  margin-left: 43%;
}

#toggle {
  background-color: transparent;
  border: none;
  font-size: 250%;
  position: relative;
  top: 0;
  right: 2%;
  cursor: pointer;
  position: fixed;
}

body.dark-mode button {
  color: antiquewhite;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#write0 {
  animation: fadeInText 5s ease-in-out;
}

#main {
  display: none;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
}

.menu {
  position: fixed;
  width: 95%;
  top: 50px;
  word-spacing: 50px;
}

.menu,
nav a {
  text-decoration: none;
  color: black;
  text-align: right;
}

.menu,
#toggle {
  transition: transform 0.3s ease;
}

body.dark-mode nav a {
  color: white;
}

body.dark-mode nav a:hover {
  color: brown;
}

body.dark-mode nav a:active {
  color: brown;
}

nav a:hover {
  color: brown;
}

nav a:active {
  color: brown;
}

.small-screen-menu {
  visibility: hidden;
  opacity: 0;
}

.Image1 {
  height: 40%;
  width: 40%;
  text-align: left;
  margin-left: 5%;
  clip-path: inset(80px 80px 80px 50px round 10px);
}

#about {
  display: flex;
  align-items: center;
}

.resume-container{
  display: flex;
  justify-content: center;
}
.resume {
  background-color: rgb(126, 3, 241);
  border-radius: 5px;
  width: 15%;
  text-align: center;
  font-weight: 800;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.resume:hover {
  box-shadow: 2px 2px 5px rgb(232, 158, 158);
  transition: 0.5s ease-in-out;
  background-color: #817575;
}

#projects {
  text-align: center;
  margin-top: 10%;
}
h4{
  text-align: center;
  margin-top: -2%;
  margin-bottom: 2%;
}

.image4 {
  margin-left: 10%;
}

.image5 {
  width: 250px;
  height: 350px;
  margin-left: 15%;
}
.project-container{
  overflow-y: auto;
  padding: 10px;
  scrollbar-width: none;
  display: flex;
  gap: 20px;
}

.project-box{
  width: 30%;
  padding: 10px;
  border-radius: 8px;
  cursor:default;
  border: solid #eee;
  margin-bottom: 10px;
  transition: transform 0.5s ease;
}
.project-box:hover{
  transform: scale(1.02);
}
.image-wrapper, .image-wrapper1{
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.image-wrapper1:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.project-box img{
  width: 180px;
  height: 220px;
  border-radius: 10px;
  display: flex; 
}
.video{
  width: 295px;
  height: 220px;
  border-radius: 10px;
  display: flex; 
}

body.dark-mode .project-box{
  border-color: #898887;
}
body.dark-mode .project-box:hover{
  box-shadow: 2px 2px 10px rgba(180, 180, 180, 0.354);
}
.project-box:hover{
  box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.1);
}


.live1 {
  align-items: center;
  display: flex;
}

.live1 a:hover {
  color: #af1f41;
  transition: color 0.3s ease-in-out;
}

.write7 {
  text-align: center;
}

.progress-container {
  width: 30%;
  background-color: #eee;
  border-radius: 5px;
  margin-left: 2%;
  box-shadow: 5px 2px 5px #555555;
}

.progress-bar,
.progress-bar-1,
.progress-bar-2,
.progress-bar-3,
.progress-bar-4,
.progress-bar-5,
.progress-bar-6 {
  width: 96%;
  height: 30px;
  background-color: #000000;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.progress-bar-1 {
  width: 94%;
}

.progress-bar-2 {
  width: 85%;
}

.progress-bar-3 {
  width: 73%;
}

.progress-bar-4 {
  width: 70%;
}

.progress-bar-5 {
  width: 66%;
}

.progress-bar-6 {
  width: 46%;
}

body.dark-mode .progress-bar {
  background-color: #0c0c0c;
  color: rgb(247, 245, 245);
}

body.dark-mode .progress-container {
  background-color: #fdfcfc;
}

body.dark-mode .live1 a:hover {
  color: bisque;
  transition: color 0.3s ease-in-out;
}

.fab.fa-github {
  font-size: 20px;
  margin-left: 50%;
}

.fab.fa-github:hover {
  color: #181717;
  transition: color 0.3s ease-in-out;
}

body.dark-mode .fab.fa-github:hover {
  color: bisque;
  transition: color 0.3s ease-in-out;
}

.img1 {
  width: 7%;
  height: 7%;
  position: relative;
  right: 1.5%;
}

a {
  text-decoration: none;
}

.image4 {
  width: 65%;
  height: 55%;
}

h2 {
  text-align: center;
}


.image8 {
  width: 10%;
  height: 5%;
  position: relative;
  left: 10%;
}

.lng1,
.lng2,
.lng4 {
  position: relative;
  left: 3.5%;
}

.lng3 {
  position: relative;
  left: 2.2%;
}

.lng5 {
  position: relative;
  left: 2.5%;
}

h3 {
  text-align: center;
}

.fa-brands {
  font-size: 30px;
  color: #ff5722;
}

.fa-brands:hover, svg:hover, .material-icons:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.fa-instagram:hover {
  background: linear-gradient(45deg, red, blue, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter:hover {
  background-color: skyblue;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-snapchat:hover{
  background-color: yellow;
  color: #000000;
}

.fa-linkedin:hover{
  color: #7200ec;
}

path:hover{
  fill: #000000;
}

svg {
  position: relative;
  top: 3px;
}

.material-icons:hover{
  color: #af1f41;
}

.connects {
  align-items: center;
  text-align: center;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

footer {
  text-align: center;
  margin-top: 10%;
  opacity: 0.4;
}

/* screens */
@media (min-width:120px) and (max-width:450px) and (min-height:120px) and (max-height:950px) {

  html,
  body {
    overflow-x: hidden;
  }

  #ack {
    margin-left: 30%;
  }

  .small-screen-menu {
    visibility: visible;
    opacity: 1;
  }

  .togglemenu {
    font-size: 25px;
    z-index: 4;
    position: relative;
    left:5px;
    top:5px;
    background-color: #e1dee1;
    border: none;
  }

  nav,
  #toggle {
    visibility: hidden;
    opacity: 0;
    transition: 0.9s ease-in-out;
  }

  nav.show,
  #toggle.show {
    visibility: visible;
    opacity: 1;
    background-color: white;
    padding: 25px;
    z-index: 4;
    display: flex;
    box-shadow: 5px 5px 5px rgb(209, 203, 203);
  }

  nav a {
    margin-left: 5%;
  }

  nav.show {
    width: 50%;
    transform: translateX(25%);
  }

  body.dark-mode nav.show {
    background-color: black;
  }

  body.dark-mode .togglemenu {
    background-color: black;
  }

  #about{
     display: block;
  }

  #toggle.show {
    z-index: 4;
    position: relative;
    top: 5px;
    right: 25px;
    background-color: transparent;
  }

  button {
    position: relative;
    left: 87%;
  }

.project-container{
 display: block;
}
.project-box{
  width: 75%;
}
  .Image1 {
    height: 80%;
    width: 80%;
    position: relative;
    left: 10%;
  }

  .image5 {
    width: 180px;
    height: 250px;
  }

  .image3 {
    width: 40%;
    height: 40%;
  }

  #write0 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .resume {
    width: 50%;
    position: relative;
    left: 25%;
  }
}

@media (min-width:451px) and (max-width:850px) {

  html,
  body {
    overflow-x: hidden;
  }
  .Image1{
     width: 60%;
     height: 70%;
     position: relative;
     left: 20%;
  }
 #about,.project-container{
    display: block;
}

  #write0 {
    font-size: smaller;
  }

  .resume {
    width: 50%;
  }
  .project-box{
    width: 50%;
  }
}

@media (min-width:851px) and (max-width:1370px) {
  .Image2 {
    height: 80%;
    width: 80%;
  }
}